.calculator{
    height: 500px;
    width: 320px;
    border-radius: 7px;
    overflow: hidden;    

    display: grid;
    grid-template-columns: repeat(4, 25%); /* 4 colunas ocupando 25% */
    grid-template-rows: 1fr 85px 85px 85px 85px;
}